/*-- scss:defaults --*/

$site-a-nodecor-img-link: none !default;

#quarto-content .content a i {
  text-decoration: $site-a-nodecor-img-link;
  margin-right: 10px;
}

/*-- scss:rules --*/


#vcenter {
  vertical-align: middle;
}


.v-center-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 50%;
}